.dialogue .leon[data-character="leon"] {
  /*Colored dialogue for Leon.*/
  color: #284D9A;
}

.dialogue .rouge[data-character="leon"] {
  /*Colored dialogue for Rouge.*/
  color: #CB337E;
}

.dialogue .rougebig[data-character="leon"] {
  /*Large colored dialogue for Rouge.*/
  color: #CB337E;
  font-size: 150%;
}

.dialogue .tao[data-character="leon"] {
  /*Colored dialogue for Hu Tao*/
  color: Maroon;
}

.dialogue .nonon[data-character="leon"] {
  /*sex voice*/
  color: #FF8C99;
}

.dialogue .leonsmall[data-character="leon"] {
  /**/
  color: #0080C0;
  font-size: 80%;
}

.dialogue .taosmall[data-character="leon"] {
  /**/
  font-size: 80%;
  color: Maroon;
}